.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: dissapear 6.5s;
  animation-delay: 1s;

  .text {
    font-size: 70px;
    font-weight: bold;
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 1px rgb(26, 118, 106);
    text-align: start;
    justify-content: center;
    display: flex;
    overflow: hidden;

    p {
      padding: 0;
      margin: 0;
      width: 0px;
      animation: moveText 6.5s ease-in-out both;
      overflow: hidden;
      position: relative;
      display: block;
    }
  }

  .text1 {
    font-size: 70px;
    font-weight: bold;
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 1px rgb(26, 118, 106);
    text-align: start;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    animation: moveText1 2s ease-out both;
    animation-delay: 4s;

    p {
      padding: 0;
      margin: 0;
      overflow: hidden;
      position: relative;
      display: block;
      color: rgb(26, 118, 106);
    }
  }
}

@keyframes moveText {
  0% {
    width: 0%;
  }

  24% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes moveText1 {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes dissapear {
  0% {
  }

  85% {
    opacity: 1;
  }

  100% {
  }
}
