.paginationBttns {
  height: 80px;
  gap: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.paginationBttns a {
  padding: 5px 10px;
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.9);
  border: solid 1px rgb(26, 118, 106);
  color: rgb(26, 118, 106);
  cursor: pointer;
  &:hover {
    background-color: rgb(26, 118, 106);
    color: white;
  }
}

.paginationActive a {
  padding: 5px 10px;
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.9);
  border: solid 1px rgb(26, 118, 106);
  color: rgb(26, 118, 106);
  background-color: rgb(26, 118, 106);
  color: white;
}

.paginationDisabled {
  display: none;
}
